__pycache__/
*.pyc
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pyodide-*
**/*.egg-info/*

src/pywire/client/node_modules/
src/pywire/client/dist/
src/pywire/static/
.coverage
.pywire/
src/pywire/_version.py
dist/

# Rust
target/
src/pywire/*.so
src/pywire/*.pyd
Cargo.lock
build/