name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout pywire
        uses: actions/checkout@v4
        with:
          path: pywire
          fetch-depth: 0
          submodules: recursive

      - name: Update tree-sitter-pywire submodule (Latest Tag)
        working-directory: pywire/tree-sitter-pywire
        run: |
          git fetch --tags
          # Get latest tag (v*) sorted by version
          LATEST_TAG=$(git tag -l "v*" --sort=-v:refname | head -n 1)
          echo "Checking out $LATEST_TAG"
          git checkout $LATEST_TAG

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
          cache-dependency-path: 'pywire/src/pywire/client/pnpm-lock.yaml'

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Build
        run: uv build
        working-directory: pywire

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: pywire/dist/
