name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout pywire
        uses: actions/checkout@v4
        with:
          path: pywire
          fetch-depth: 0

      - name: Build
        run: uv build --sdist
        working-directory: pywire

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: pywire/dist/
